target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

server/HELP.md
server/target/
server/!.mvn/wrapper/maven-wrapper.jar
server/!**/src/main/**/target/
server/!**/src/test/**/target/

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

### NetBeans ###
server//nbproject/private/
server//nbbuild/
server//dist/
server//nbdist/
server//.nb-gradle/
server/build/
server/!**/src/main/**/build/
server/!**/src/test/**/build/

### VS Code ###
server/.vscode/
